<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shch91.repo.mapper.employees.SalaryMapper">

    <resultMap id="BaseResultMap" type="shch91.repo.daoentity.Salary">
        <result column="emp_no" property="empNo"  jdbcType="INTEGER"/>
        <result column="salary" property="salary" jdbcType="INTEGER"/>
        <result column="from_date" property="fromDate" jdbcType="DATE"/>
        <result column="to_date" property="toDate" jdbcType="DATE"/>
    </resultMap>

    <!-- 开启基于redis的二级缓存 -->
    <!--<cache type="RedisCache"/>-->
     <sql id="allColumn">
         emp_no,salary,from_date,to_date
     </sql>

   <insert id="add" parameterType="shch91.repo.daoentity.Salary">
       insert into salaries ( emp_no,salary,from_date,to_date)
       values (#{empNo},#{salary},#{fromDate},#{toDate})
   </insert>

    <select id="getByEmpNo" resultMap="BaseResultMap">
        select <include refid="allColumn"/>
        from  salaries
        where  emp_no =10001
    </select>

    <select id="allEmpNo" >
        select  distinct(emp_no)
        from  salaries
    </select>

    <select id="getAll" resultType="shch91.repo.daoentity.Salary">
        select to_date ,salary ,from_date,emp_no
        from salaries

    </select>
</mapper>