<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SalaryMapper">

    <!-- 开启基于redis的二级缓存 -->
    <!--<cache type="RedisCache"/>-->
     <sql id="allColumn">
         emp_no,salary,from_date,to_date
     </sql>

   <insert id="add" parameterType="Salary">
       insert into salaries ( emp_no,salary,from_date,to_date)
       values (#{empNo},#{salary},#{fromDate},#{toDate})
   </insert>

    <select id="getByEmpNo" parameterType="string" resultType="Salary">
        select <include refid="allColumn"/>
        from  salaries
        where  emp_no=#{empNo}
    </select>

    <select id="allEmpNo" >
        select  distinct(emp_no)
        from  salaries
    </select>

    <select id="getAll" resultType="Salary">
        select to_date ,salary ,from_date,emp_no
        from salaries

    </select>
</mapper>